<script lang="ts">
  import Difference from "./Difference.svelte";
  import Edit from "./Edit.svelte";

  let edit = false;

  function goEdit() {
    edit = true;
  }
  function goDifference() {
    edit = false;
  }
</script>

<main>
  <h1>Daytime</h1>
  <button class={edit ? "" : "active"} on:click={goDifference}
    >Difference mode</button
  >
  <button class={edit ? "active" : ""} on:click={goEdit}>Edit mode</button>
  {#if edit}
    <Edit />
  {:else}
    <Difference />
  {/if}
</main>

<style>
  :global(body) {
    background-color: #202023;
  }

  main {
    text-align: center;
    margin: 0 auto;
    max-width: 20rem;
  }

  button.active {
    color: #8ab4f8;
    background-color: #202023;
  }

  h1 {
    margin-top: 0;
    color: #8ab4f8;
    font-size: 3em;
    font-weight: 100;
  }
</style>
