<script lang="ts">
  import { formatDate } from "./date-utils";

  let start = formatDate(new Date());
  let end = formatDate(new Date());
  let result = "";

  function calculate() {
    const difference = Math.abs(
      new Date(end).getTime() - new Date(start).getTime()
    );
    const days = difference / (1000 * 60 * 60 * 24);
    result = `${days} days`;
  }
</script>

<main>
  <form on:submit|preventDefault={calculate}>
    <input type="date" bind:value={start} />
    <input type="date" bind:value={end} />
    <button on:click={calculate}>Calculate</button>
  </form>
  {#if result}
    <p>{result}</p>
  {/if}
</main>

<style>
  :global(body) {
    background-color: #202023;
  }

  input {
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  main {
    text-align: center;
    margin: 0 auto;
    max-width: 20rem;
  }

  p {
    font-size: 2em;
    font-weight: 100;
    color: #8ab4f8;
  }
</style>
