<script lang="ts">
  import { formatDate } from "./date-utils";

  let day = formatDate(new Date());
  let operator: "Add" | "Subtract";
  let unit: "Days" | "Weeks" | "Months";
  let amount = "0";
  let result = "";

  function calculate() {
    const date = new Date(day);
    if (unit === "Days")
      date.setDate(
        operator === "Add"
          ? date.getDate() + Number(amount)
          : date.getDate() - Number(amount)
      );
    else if (unit === "Weeks")
      date.setDate(
        operator === "Add"
          ? date.getDate() + Number(amount) * 7
          : date.getDate() - Number(amount) * 7
      );
    else if (unit === "Months")
      date.setMonth(
        operator === "Add"
          ? date.getMonth() + Number(amount)
          : date.getMonth() - Number(amount)
      );
    result = date.toDateString();
  }

  function selectAll(event: any) {
    event.target.select();
  }
</script>

<main>
  <form on:submit|preventDefault={calculate}>
    <input type="date" bind:value={day} />

    <select bind:value={operator}>
      <option>Add</option>
      <option>Subtract</option>
    </select>

    <input type="number" bind:value={amount} on:focus={selectAll} />

    <select bind:value={unit}>
      <option>Days</option>
      <option>Weeks</option>
      <option>Months</option>
    </select>

    <button on:click={calculate}>Calculate</button>
  </form>
  {#if result}
    <p>{result}</p>
  {/if}
</main>

<style>
  :global(body) {
    background-color: #202023;
  }

  input {
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  main {
    text-align: center;
    margin: 0 auto;
    max-width: 20rem;
  }

  p {
    font-size: 2em;
    font-weight: 100;
    color: #8ab4f8;
  }
</style>
